@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* hide arrows on input type number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.person {
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person__form {
  display: flex;
  width: 100%;
  margin-bottom: 1.8rem;
}

.person__form__fields {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.person__name-label,
.person__email-label {
  width: 100%;
  position: relative;
}

.person__name-input,
.person__email-input {
  width: 90%;
  background: transparent;
  border: 0;
  border-bottom: 2px solid var(--primary-color);
}

.person__name-input:focus,
.person__email-input:focus {
  outline: 0;
}

.person__name-input:focus + .input-label__name {
  transform: translateY(-28px);
  font-size: 0.75rem;
}

.person__email-input:focus + .input-label__email {
  transform: translateY(-28px);
  font-size: 0.75rem;
}

.input-label__name {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
}

.input-label__email {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
}

.sitting-area {
  grid-template-areas:
    'date date date'
    'arrivingTime arrivingTime arrivingTime'
    'leavingTime leavingTime leavingTime'
    'eight fifteen invisible-element-3' 'seven fourteen invisible-element-4' 'six thirteen invisible-element-5 '
    '.  thirteen invisible-element-5 ' 'five twelve invisible-element-6 ' '. twelve .' 'four invisible-element invisible-element-7'
    'three invisible-element-2 twenty ' 'two eleven twenty ' 'one ten twenty '
    'thirty thirtyone thirtytwo'
    'forty fiftyoneandtwo thirtythree' 'fortyone fifty thirtyfour'
    'fortytwo fortythree fortyfour';
}

/* .sitting-area {
  grid-template-areas:
    'eight fifteen . .' 'seven fourteen . .' 'six thirteen . .'
    '.  thirteen . .' 'five twelve . .' '. twelve . .' 'four invisible-element . .'
    'three invisible-element-2 twenty .' 'two eleven twenty .' 'one ten twenty .'
    'thirty thirtyone invisible-element-3 thirtytwo'
    'forty fiftyoneandtwo thirtythree .' 'fortyone fifty . thirtyfour'
    'fortytwo fortythree invisible-element-4 fortyfour';
} */

.date {
  grid-area: date;
}

.arrivingTime {
  grid-area: arrivingTime;
}

.leavingTime {
  grid-area: leavingTime;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.ten {
  grid-area: ten;
}

.eleven {
  grid-area: eleven;
}

.twelve {
  grid-area: twelve;
}

.thirteen {
  grid-area: thirteen;
}

.fourteen {
  grid-area: fourteen;
}

.fifteen {
  grid-area: fifteen;
}

.twenty {
  grid-area: twenty;
}

.thirty {
  grid-area: thirty;
}

.thirtyone {
  grid-area: thirtyone;
}

.thirtytwo {
  grid-area: thirtytwo;
}

.thirtythree {
  grid-area: thirtythree;
}

.thirtyfour {
  grid-area: thirtyfour;
}

.forty {
  grid-area: forty;
}

.fortyone {
  grid-area: fortyone;
}

.fortytwo {
  grid-area: fortytwo;
}

.fortythree {
  grid-area: fortythree;
}

.fortyfour {
  grid-area: fortyfour;
}

.fifty {
  grid-area: fifty;
}

.fiftyone {
  grid-area: fiftyone;
}

.fiftytwo {
  grid-area: fiftytwo;
}

.invisible-element {
  grid-area: invisible-element;
}

.invisible-element-2 {
  grid-area: invisible-element-2;
}

.fiftyoneandtwo {
  grid-area: fiftyoneandtwo;
}

.invisible-element-3 {
  grid-area: invisible-element-3;
}

.invisible-element-4 {
  grid-area: invisible-element-4;
}

.invisible-element-5 {
  grid-area: invisible-element-5;
}

.invisible-element-6 {
  grid-area: invisible-element-6;
}

.invisible-element-7 {
  grid-area: invisible-element-7;
}

/* Material UI components styles added */

.MuiFormControl-root {
  min-width: 260px;
}
