@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* hide arrows on input type number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.person {
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person__form {
  display: flex;
  width: 100%;
  margin-bottom: 1.8rem;
}

.person__form__fields {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.person__name-label,
.person__email-label {
  width: 100%;
  position: relative;
}

.person__name-input,
.person__email-input {
  width: 90%;
  background: transparent;
  border: 0;
  border-bottom: 2px solid var(--primary-color);
}

.person__name-input:focus,
.person__email-input:focus {
  outline: 0;
}

.sitting-area {
  grid-template-areas:
    'date date date'
    'arrivingTime arrivingTime arrivingTime'
    'leavingTime leavingTime leavingTime'
    'eight fifteen invisible-element-3' 'seven fourteen invisible-element-4' 'six thirteen invisible-element-5 '
    '.  thirteen invisible-element-5 ' 'five twelve invisible-element-6 ' '. twelve .' 'four invisible-element invisible-element-7'
    'three invisible-element-2 twenty ' 'two eleven twenty ' 'one ten twenty '
    'thirty thirtyone thirtytwo'
    'forty fiftyoneandtwo thirtythree' 'fortyone fifty thirtyfour'
    'fortytwo fortythree fortyfour';
}

.date {
  grid-area: date;
}

.arrivingTime {
  grid-area: arrivingTime;
}

.leavingTime {
  grid-area: leavingTime;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.ten {
  grid-area: ten;
}

.eleven {
  grid-area: eleven;
}

.twelve {
  grid-area: twelve;
}

.thirteen {
  grid-area: thirteen;
}

.fourteen {
  grid-area: fourteen;
}

.fifteen {
  grid-area: fifteen;
}

.twenty {
  grid-area: twenty;
}

.thirty {
  grid-area: thirty;
}

.thirtyone {
  grid-area: thirtyone;
}

.thirtytwo {
  grid-area: thirtytwo;
}

.thirtythree {
  grid-area: thirtythree;
}

.thirtyfour {
  grid-area: thirtyfour;
}

.forty {
  grid-area: forty;
}

.fortyone {
  grid-area: fortyone;
}

.fortytwo {
  grid-area: fortytwo;
}

.fortythree {
  grid-area: fortythree;
}

.fortyfour {
  grid-area: fortyfour;
}

.fifty {
  grid-area: fifty;
}

.fiftyone {
  grid-area: fiftyone;
}

.fiftytwo {
  grid-area: fiftytwo;
}

.invisible-element {
  grid-area: invisible-element;
}

.invisible-element-2 {
  grid-area: invisible-element-2;
}

.fiftyoneandtwo {
  grid-area: fiftyoneandtwo;
}

.invisible-element-3 {
  grid-area: invisible-element-3;
}

.invisible-element-4 {
  grid-area: invisible-element-4;
}

.invisible-element-5 {
  grid-area: invisible-element-5;
}

.invisible-element-6 {
  grid-area: invisible-element-6;
}

.invisible-element-7 {
  grid-area: invisible-element-7;
}

.rectangle-tables,
.round-tables,
.table51,
.table52 {
  cursor: pointer;
}

.date-and-time {
  background: rgba(249, 250, 251, 0.9);
  border-radius: 0.3rem;
  margin-top: 2rem;
  margin: 0 auto;
  padding: 1rem;
  padding-bottom: 1.5rem;
}

.email-name-section {
  background: rgba(249, 250, 251, 0.9);
  border-radius: 0.3rem;
  margin-top: 2rem;
  margin: 0 auto;
  padding: 3rem;
  padding-bottom: 0.5rem;
}

.restaurant-map {
  position: relative;
  opacity: 1;
}

.name-in-reservation-list {
  text-transform: capitalize;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.search-reservation-modal::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.search-reservation-modal {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Material UI components styles added */

.MuiBox-root {
  border: 0;
  border-radius: 0.2rem;
  outline: 0;
  text-align: center;
  max-width: 95vw;
}

.MuiBox-root:focus,
.MuiBox-root:active {
  border: 0;
  outline: 0;
}

.form-finish {
  width: 100%;
  padding: 2rem;
  background: #fff;
  border-radius: 0.2rem;
}

/* Media Queries */

@media only screen and (max-width: 1024px) {
  .date-and-time {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-top: 2rem;
    width: 95vw;
    padding: 0.4rem;
    padding-bottom: 0.4rem;
  }
}

@media only screen and (min-width: 1024px) {
  .restaurant-map {
    position: relative;
    opacity: 0.9;
  }

  .date-and-time {
    padding: 1.2rem 1.5rem;
  }

  .rectangle-tables h3,
  .round-tables h3 {
    transform: rotate(270deg);
  }

  .table51,
  .table52 {
    transform: rotate(225deg) !important;
  }
}

@media only screen and (max-width: 768px) {
  body {
    background-color: rgba(100, 116, 139, 1);
  }
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url('../public/img/main-bg-5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 408px) {
  .sitting-area {
    width: 95.5vw;
  }

  /* .MuiBox-root {
    max-width: 95vw;
  } */
}
